html {
    overflow-y: scroll;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-x: hidden;
    overflow-y: auto;
}

.contest-name {
    font-weight: bold;
}

.nav-link {
    cursor: pointer;
}

.nav-item {
    cursor: pointer;
}
/* .contest-stage { */
    /* font-size: 15pt; */
/* } */